# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\АЕЛогачев\Программирование\geekbr_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
